@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}

.top-nav {
    background-color: #f7f701;
    width: 100%;
    padding: 5px;
}

h3 {
    text-align: center;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search>input {
    border: none;
    width: 40%;
    border-bottom: 2px solid #d6d6d6;
    padding: 20px;
}

.search>input:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #d6d6d6;
}

.city {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 40px;
    margin: 5% auto;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.details {
    margin-top: 20px;
}

.details>.city-name {
    font-weight: 700;
}

.details > .city-temp{
    font-size: 20px;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 400;
}